.logo{
    width: 5rem;
    border-radius: 15px;
}

.description{
    background-color: #fff5df;
    height: 100vh;
    padding: 5rem;
    margin: 1rem;
    color: darkred;
}
.description a{
    text-decoration: none;
    color: darkred;
}

.description a:hover{
    color: #ca5959;
}

body{
    background-color: #f7f4ed;
}

header{
    background-color: #fff5df;
    text-align: center;
    font-size: small;
    padding: 1rem;
}

header a{
    text-decoration: none;
    color: #ca5959;
}

header a:hover{
    color: darkred;
}